<% const folder_uploads = "uploads/users/"; %>

<div class="ps-mission bg-cover" data-background="https://img2.goodfon.com/wallpaper/nbig/b/df/botinki-makror-fon.jpg">
	<div class="ps-container">
	  <h3>our mission</h3>
	  <h2>Bring inspiration and innovation <br/> to everyone in the world.</h2>
	</div>
</div>
<div class="ps-section ps-ourteam pt-80 pb-80">
	<div class="ps-container">
		<%- webConfig.about %>			
	</div>
</div>