<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/head %>
</head>
<body class="ps-loading">
    <% include ./elements/header %>
    <main class="ps-main">  
        <% include ./elements/top-post/index %> 
        <%- body %>
        <% include ./elements/footer %>
    </main>
    <% include ./elements/script %>
</body>
</html>