<!doctype html>
<html lang="en">
    <head> 
        <% include ./elements/header-login %>
    </head>
	<body class="img js-fullheight" style="background-image: url(frontend/login/images/bg.jpg);"> 
        <%- body %>
        <% include ./elements/script-login %>
    </body>
</html>