<% 
    createFormHelper = (elements) => { 
        let xhtml = '';
        elements.forEach( (item) => {
            xhtml += `<div class="form-group row">
                <label for="${item.for}" class="col-sm-2 col-form-label text-sm-right required">${item.label}</label>
                <div class="col-xs-12 col-sm-8">
                    ${item.input}
                </div>
            </div>`;
        });
        return xhtml;
    } 
%>