<% 
    menuSidebarHelper = (menuName, items, iconVal) => {
        let xhtml = `<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas ${iconVal}"></i>
                <p>${menuName}<i class="fas fa-angle-left right"></i></p>
            </a><ul class="nav nav-treeview">`;
        items.forEach( (item) => {
            xhtml += `<li class="nav-item">
                <a href="${item.link}" class="nav-link" data-active="${item.activeValue}">
                    <i class="nav-icon fas ${item.icon}"></i>
                    <p>${item.name}</p>
                </a>
            </li>`;
        });
        xhtml += '</ul></li>';
        return xhtml;
    }
%>
