<% 
    selectBoxHelper = (name, items, optionSelected = '', idName = '') => {
        let xhtml = '';
        items.forEach((item) =>{
            let selected = (item.id == optionSelected) ? `selected="selected"` : '';
            let id       = (item.id == undefined) ? 'allValue' : item.id;
            xhtml += `<option value="${id}" ${selected} >${item.name}</option>`;
        });
        
        return `<select id="${idName}" name="${name}" class="custom-select custom-select-sm mr-1" style="width: unset" >${xhtml}</select>`;
    }
%>