<% 
    showMultiImageHelper = (folder_upload, arrName) => {
        let xhtml = '';
        
        if(arrName !== undefined) {
            arrName.forEach( (item) => {
                xhtml += `<li>
                    <img src="${folder_upload + item}" alt="" style="width: 100px;">
                </li>`;
            });
        }
        return `<div class="card">
                    <div class="card-body p-0">
                        <ul class="users-list clearfix" id="box-multi-image">
                            ${xhtml}
                        </ul>
                    </div>
                </div>`;
    }
%>