<% 
    userMenuHelpers = (folderUpload, userInfo) => {
        let linkAvatar = folderUpload + userInfo.avatar;
        let xhtmlMenuUser = '';
        if(Object.keys(userInfo).length > 0) {
            xhtmlMenuUser = `<ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="${linkAvatar}" class="user-image img-circle elevation-2" alt="User Image">
                        <span class="d-none d-md-inline">${userInfo.name}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-info">
                            <img src="${linkAvatar}"  class="img-circle elevation-2" alt="User Image">
        
                            <p>${userInfo.username}<small>${userInfo.name}</small></p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                            <a href="blog/auth/logout/" class="btn btn-default btn-flat float-right">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>`;
        }
        return xhtmlMenuUser;
    }
%>