<div class="col-lg-8 post-list">
	
	<!-- Start single-post Area -->
	<div class="single-post-wrap">
	
		<div class="feature-img-thumb relative">
			<div class="overlay overlay-bg"></div>
			<img class="img-fluid" src="frontend/blog/images/about-us.jpg" alt="">
		</div>
		<div class="content-wrap">
			<h3><%= settingConfig.about %></h3>
		</div>	
	</div>
</div>