<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= pageTitle %></title>
<link rel = "icon" href = "frontend/blog/images/logo.png" type = "image/x-icon"> 

<link href="frontend/blog/css/media_query.css" rel="stylesheet" type="text/css"/>
<link href="frontend/blog/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="frontend/blog/css/animate.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="frontend/blog/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
<link href="frontend/blog/css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
<!-- Bootstrap CSS -->
<link href="frontend/blog/css/style_1.css" rel="stylesheet" type="text/css"/>
<link href="frontend/blog/css/me.css" rel="stylesheet" type="text/css"/>
<!-- Modernizr JS -->
<script src="frontend/blog/js/modernizr-3.5.0.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

<script src="frontend/blog/sweetalert2/dist/sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
<script src="frontend/blog/sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="frontend/blog/sweetalert2/dist/sweetalert2.min.css">