<footer class="main-footer text-sm">
    <strong>Copyright © 2020 <a href="#">HoNgocTon</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Hotline:</b> 0379 479 861
    </div>
</footer>