<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%=pageTitle%></title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome -->
<link rel="stylesheet" href="backend/css/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="backend/css/ionicons/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="backend/css/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- summernote -->
<link rel="stylesheet" href="backend/js/plugins/summernote/summernote-bs4.min.css" />
<!-- date range picker -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- date time picker -->
<link rel="stylesheet" type="text/css" href="backend/js/plugins/datetimepicker/bootstrap-datetimepicker.min.css" />
<!-- select2 -->
<link rel="stylesheet" href="backend/js/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="backend/js/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="backend/css/adminlte.min.css">
<link rel="stylesheet" href="backend/css/custom.css">