<% Object.keys(message).forEach( (type) => {  %>
	<div class="alert alert-<%= ((type === 'error')? 'warning':type) %> alert-dismissible" role="alert">
		<% message[type].forEach( (message) => {  %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fas fa-exclamation-triangle"></i> <%= message %></h4>
		<% }) %>
	</div>
<% }) %>