<!DOCTYPE html>
<html>
    <head>
        <% include ./elements/header-login %>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <%- body %>
            </div>
        </div>
    </body>
</html>