<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="frontend/shop/images/iconStore.png" rel="apple-touch-icon">
<link href="frontend/shop/images/iconStore.png" rel="icon">
<meta name="author" content="Nghia Minh Luong">
<meta name="keywords" content="Default Description">
<meta name="description" content="Default keyword">
<title><%= pageTitle %></title>
<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="frontend/shop/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="frontend/shop/plugins/ps-icon/style.css">
<!-- CSS Library-->
<link rel="stylesheet" href="frontend/shop/plugins/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="frontend/shop/plugins/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="frontend/shop/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="frontend/shop/plugins/slick/slick/slick.css">
<link rel="stylesheet" href="frontend/shop/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="frontend/shop/plugins/Magnific-Popup/dist/magnific-popup.css">
<link rel="stylesheet" href="frontend/shop/plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="frontend/shop/plugins/revolution/css/settings.css">
<link rel="stylesheet" href="frontend/shop/plugins/revolution/css/layers.css">
<link rel="stylesheet" href="frontend/shop/plugins/revolution/css/navigation.css">
<!-- Custom-->
<link rel="stylesheet" href="frontend/shop/css/style.css">

<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--WARNING: Respond.js doesn't work if you view the page via file://-->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->

<link href="frontend/shop/css/prettify.css" rel="stylesheet">

<script src="frontend/shop/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="frontend/shop/plugins/sweetalert2/dist/sweetalert2.min.css">