<% 
  const linkGold = systemConfig.prefixShop + '/news-rss/get-gold';
  const linkCoin = systemConfig.prefixShop + '/news-rss/get-coin'; 
  const linkWeather = systemConfig.prefixShop + '/news-rss/get-weather'; 
%>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
<aside class="ps-widget--sidebar">
  <div class="ps-widget__header"> 
    <h3>Coin Price</h3>
  </div>
  <div class="ps-widget__content">
    <div id="box-coin" data-url="<%- linkCoin%>">
      <div class="text-center">
          <img style="width: 150px" src="frontend/shop/images/loading.gif" alt="">
      </div>
    </div>
  </div>
</aside>
<aside class="ps-widget--sidebar">
  <div class="ps-widget__header"> 
    <h3>Weather</h3>
  </div>
  <div class="ps-widget__content">
    <div id="box-weather" data-url="<%- linkWeather%>">
      <div class="text-center">
          <img style="width: 150px" src="frontend/shop/images/loading.gif" alt="">
      </div>
    </div>
  </div>
</aside>
<aside class="ps-widget--sidebar">
  <div class="ps-widget__header"> 
    <h3>Gold Price</h3>
  </div>
  <div class="ps-widget__content">
    <div id="box-gold" data-url="<%- linkGold%>">
      <div class="text-center">
          <img style="width: 150px" src="frontend/shop/images/loading.gif" alt="">
      </div>
    </div>
  </div>
</aside>