<% 
    let arrDashboard = [
        {name: 'Groups', count: totalGroups, icon: 'ion-ios-people', link: `${systemConfig.prefixAdmin}/groups`, background: 'info'},
        {name: 'Users', count: totalUsers, icon: 'ion-ios-person', link: `${systemConfig.prefixAdmin}/users`, background: 'info'},
        {name: 'News Category', count: totalCategory, icon: 'ion-cube', link: `${systemConfig.prefixAdmin}/category`, background: 'info'},
        {name: 'News', count: totalArticles, icon: 'ion-ios-book', link: `${systemConfig.prefixAdmin}/articles`, background: 'info'},
        {name: 'Rss', count: totalRss, icon: 'ion-android-attach', link: `${systemConfig.prefixAdmin}/rss`, background: 'success'},
        {name: 'Contact', count: totalContact, icon: 'ion-ios-contact', link: `${systemConfig.prefixAdmin}/contact`, background: 'success'},
        {name: 'Shoes Category', count: totalProductCategory, icon: 'ion-ios-box', link: `${systemConfig.prefixAdmin}/product-category`, background: 'success'},
        {name: 'Brand', count: totalBrand, icon: 'ion-android-playstore', link: `${systemConfig.prefixAdmin}/brand`, background: 'success'},
        {name: 'Shoes', count: totalShoes, icon: 'ion-bag', link: `${systemConfig.prefixAdmin}/shoes`, background: 'warning'},
        {name: 'Clothing', count: totalClothing, icon: 'ion-tshirt', link: `${systemConfig.prefixAdmin}/clothing`, background: 'warning'},
        {name: 'Orders', count: totalOrders, icon: 'ion-ios-pricetags-outline', link: `${systemConfig.prefixAdmin}/orders`, background: 'warning'},
        {name: 'Slider', count: totalSlider, icon: 'ion-drag', link: `${systemConfig.prefixAdmin}/slider`, background: 'warning'},
        {name: 'Promotion Code', count: totalPromo, icon: 'ion-cash', link: `${systemConfig.prefixAdmin}/promo`, background: 'danger'},
        {name: 'Items', count: totalItems, icon: 'ion-clipboard', link: `${systemConfig.prefixAdmin}/items`, background: 'danger'},
        {name: 'Banner', count: totalBanner, icon: 'ion-android-bookmark', link: `${systemConfig.prefixAdmin}/banner`, background: 'danger'},
        {name: 'Subscribe', count: totalSubscribe, icon: 'ion-android-globe', link: `${systemConfig.prefixAdmin}/subscribe`, background: 'danger'},
    ];
    let xhtmlDashboard = '';
    arrDashboard.forEach( (item) => {
        xhtmlDashboard += `<div class="col-lg-3 col-6">
            <div class="small-box bg-${item.background}">
                <div class="inner">
                    <h3>${item.count}</h3>
                    <p>${item.name}</p>
                </div>
                <div class="icon text-white">
                  <i class="ion ${item.icon}"></i>
                </div>
                <a href="${item.link}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>`;
    });
%>


<div class="row justify-content-left">
    <%- xhtmlDashboard %>
</div>