<!-- Back to Top -->
<a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="frontend/blog2/lib/easing/easing.min.js"></script>
<script src="frontend/blog2/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="frontend/blog2/mail/jqBootstrapValidation.min.js"></script>
<script src="frontend/blog2/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="frontend/blog2/js/main.js"></script>
<!-- <script src="frontend/blog2/js/me.js"></script> -->